<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">

	<resultMap type="memVo" id="payResultMap">
		<result column="MEMNAME" property="memName" />
		<result column="MEMPW" property="memPw" />
		<result column="EMAIL" property="email" />
		<result column="ACCOUNT" property="account" />
		<result column="PHONENUMBER" property="phoneNumber" />
		<result column="CARDPW" property="carPw" />
		<result column="PAYCHECK" property="payCheck" />
		<result column="PRICE" property="price" />
		<result column="MEMNO" property="memno" />
		<result column="TOTALFEE" property="totalfee" />
		<result column="MEETNO" property="meetno" />
		<result column="deviceId" property="deviceId" />
	</resultMap>

	<select id="paySelect" resultMap="payResultMap">
		select * from pay_info
	</select>
	
	<select id="friendSelect" resultMap="payResultMap" parameterType="int">
		select * from pay_info where meetno = #{meetno}
	</select>
	
	<update id="payUpdate" parameterType="memVo">
		update payment
		set PRICE = #{price}
		where MEMNO = #{memno}
	</update>
	
	<update id="payMeetUpdate" parameterType="memVo">
		update meeting
		set TOTALFEE = #{totalfee}
		where MEETNO = (select MEETNO from payment where MEMNO = #{memno})
	</update>
	
	<update id="priceUpdate" parameterType="memVo">
		update payment set price = #{price} 
		where memno in (select memno 
								 from payment
								 where meetno = #{meetno})
	</update>
	
	<update id="totalfeeUpdate" parameterType="memVo">
		update meeting set totalfee = #{totalfee} 
		where meetno = #{meetno}
	</update>

</mapper>
