<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">

	<resultMap type="payVo" id="payResultMap">
		<result column="MEMNAME" property="memName" />
		<result column="MEMPW" property="memPw" />
		<result column="EMAIL" property="email" />
		<result column="ACCOUNT" property="account" />
		<result column="PHONENUMBER" property="phoneNumber" />
		<result column="CARDPW" property="carPw" />
		<result column="PAYCHECK" property="payCheck" />
		<result column="PRICE" property="price" />
		<result column="MEMNO" property="memno" />
		<result column="TOTALFEE" property="totalfee" />
		<result column="MEETING_TYPE" property="meetingType" />
		<result column="MEETNO" property="meetno" />
		<result column="deviceId" property="deviceId" />
	</resultMap>

	<select id="paySelect" resultMap="payResultMap">
		select * from pay_info
	</select>
	
	<!-- 모임에서 친구 목록 가져오기 -->
	<select id="friendSelect" resultMap="payResultMap" parameterType="int">
		select * from pay_info where meetno = #{meetno}
	</select>
	
	<!-- 결제했을 때 총액 업데이트  -->
	<update id="payMeetUpdate" parameterType="payVo">
		update meeting
		set TOTALFEE = #{totalfee}
		where MEETNO = (select MEETNO from payment where MEMNO = #{memno})
	</update>
	
	<!--  결제 했을 때 자신의 금액 업데이트 -->
	<update id="payUpdate" parameterType="payVo">
		update payment
		set PRICE = #{price}
		where MEMNO = #{memno}
	</update>
	
	<!-- 모임에 있는 멤버들 회비 정해주기 -->
	<update id="priceUpdate" parameterType="payVo">
		update payment set price = #{price} 
		where memno in (select memno 
								 from payment
								 where meetno = #{meetno})
	</update>
	
	<!-- 총회비 저장 -->
	<update id="totalfeeUpdate" parameterType="payVo">
		update meeting set totalfee = #{totalfee} 
		where meetno = #{meetno}
	</update>
	
	<!-- 멤버에 있는 모임들 불러오기  -->
	<select id="meetingList" parameterType="int" resultMap="payResultMap">
		SELECT * FROM pay_info where memno=#{memno}
	</select>
	
	<!-- 모임 삭제 -->
	<delete id="deleteMeeting" parameterType="payVo">
		delete from meeting where meetno = #{meetno} and manageno=#{memno}
	</delete>
	
</mapper>
