<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="webselect">

	<resultMap type="webPushVo" id="webPushResultMap">
		<result column="notificationno" property="notificationno" />
		<result column="content" property="content" />
		<result column="alramtime" property="alramtime" />
		<result column="ckno" property="ckNo" />
		<result column="meetno" property="meetno" />
		<result column="memno" property="memno" />
		<result column="memname" property="memname" />		
	</resultMap>
	
	
	<select id="WebPushSelect" resultMap="webPushResultMap" parameterType="int">
		select * from WEB_PUSH_INFO where ckno=#{ckNo}
	</select> 
	
	<select id="selectMessage" parameterType="int" resultMap="webPushResultMap" >
		select * from WEB_PUSH_INFO where SYSDATE  >= ALRAMTIME and ckNo=#{ckno}
	</select>
</mapper>
